/* 
    Document   : spiritmobile-def
    Created on : 22.11.2011, 21:05:56
    Author     : tbol@ispirit
    Description:
    License    : GPLv3
        Purpose of the stylesheet follows.
*/

.textkiller {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: x-small;
}


/*
    TODO: customize dropdownmenu in schedulepage
*/

/* 
    TODO: customize the text style for newslist view
 */


.aboutpage {
    margin-top: 25%;
    text-align: center;    
}

.event_borders {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding-left: 10px;
    padding-top: 2px;
    margin-left: 10px;
/*    outline-width: 3px;
    outline-color: black;
    outline-style: solid;
    outline-radius: 6px;*/
    
}

.event_weekly {
    background-color: white;
}

.event_even {
    background-color: #F3994C;
}

.event_odd {
    background-color: #8398CD; 
}

.event_icon_pos {
    float: right;
    margin-right: 10px;
    margin-top: -17px;
}

.event_owner_pos {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
}

.event_left_postion {
    float: left;
    margin-left: 10px;
}
