/*** Schedule ***/
table {
	background-color: #ffffff;
	width:100%;
	margin-bottom:15px;
	font-size:10pt;
}

table th {
	background-color: #C3D9FF;
	border-left: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-color: #C3D9FF;
	padding: 2px 5px;
}

table td {
	border-color: #d6d6d6;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 180px;
}

.first {
    border-color: #d6d6d6;
	padding-right: 10px;
	width: 50px;
}

table caption {
    background-color: #ffffff;
	margin-bottom:15px;
	font-size:14pt;
}

.event{
	border-radius:5px;
	border:1px solid #D6D6D6;
	padding: 3px;
}

.odd{
	background-color:#C3D9FF;
}

.even{
	background-color:#F9F29F;
}

.weekly{
	background-color:#ffffff;	
}

.eventTitle{
	font-size:10pt;
	font-weight:bold
}

tr:nth-child(2n+1) {
    background-color: #FFFFFF;
}

tr:nth-child(2n) {
    background-color: #F2F2F2;
}
.lecture, .tutorial{
    float: right;
    height: 20px;
    width: 20px;
}
.lecture{
    background: url("../images/lecture.png") no-repeat scroll 0% 0% transparent;
}

.tutorial{
    background: url("../images/tutorial.png") no-repeat scroll 0% 0% transparent;
}