#lift__noticesContainer___notice {
    background-color: green;
}

#lift__noticesContainer___warning {
    background-color: yellow;
}

#lift__noticesContainer___error {
    background-color: red;
}
.sidebar ul {
    margin:0;
    padding:0;
    border-bottom:1px solid #ccc;
}

.sidebar ul li {
    margin:0;
    padding:0;
    list-style:none;
    border:1px solid #ccc;
    border-bottom:none;
}

.sidebar ul li ul li {
    margin:0;
    padding:0;
    border-style: none;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 30px;
}

.sidebar ul li ul li a {
    display: inline;
}

.sidebar ul li ul {
    margin: 0;
    border-bottom: none;
}

.sidebar ul li ul li span {
    display:inline;
    padding:0px;
}

.sidebar ul li a {
    display:block;
    padding:3px;
    text-indent:32px;
    text-decoration:none;
}

.sidebar ul li span {
    display:block;
    padding:3px;
    text-indent:32px;
    text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #00386A;/*#0f327a*/
       color: white;
}

.lift_error {
  color: red;
}

.lift_warning {
  color: yellow;
}

.lift_notice {
}

table.gadgets {
	border: none;
}

table.gadgets td {
	border: 0px none;
  padding: 5px 5px;
	text-align: center;
}

/*HTML5 Artikel*/
header,section,footer,aside,nav,article {
	display: block;
}

/***  News***/
.entry{
	background-color: #ffffff;
	width:100%;
	margin-bottom:15px;
}
.entry header{
	background-color: #C3D9FF;
	border-left: 1px solid; 
	border-top: 1px solid; 
	border-right: 1px solid;
	border-color: #C3D9FF;
	padding: 2px 5px;
}
.entryBody{
	border-left: 1px solid; 
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #d6d6d6;
	padding: 5px;
}
.entrySemester{
	float:left;
}
.entryId{
	float:right;
	width:55px;
}
.entryOwner{
	width: 250px;
	float:right;
}
.entrySubject{
	float:left;
	width: 85%;
}
.entrySubject h1{
	font-size:11pt;
	font-weight: bold;
}
.entryDate{
	float:right;
	padding-top:3px;
	width: 65px;
}
.entryContent{
	margin-top: 10px;
	font-size:10pt;
}